@import "reset.css";

:root {
  --img_h: 50vh;
  --color_selected: #A88809;
  --color_checked: #318CE7;
}


html,
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 10vh 1fr 10vh / 1fr;
  font-size: 0.5em;
  line-height: 200%;
  font-family: Arial, sans-serif;
  color: black;
}

.wrapper {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #77A7B5;
  height: 100%;
  border-bottom: 0.5em dashed #426C79;
  padding: 0.5em;
}

.header__title {
  font-size: 2.5em;
  line-height: 2.8em;
  text-align: center;
  letter-spacing: 0.4em;
}

.main {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

.accordion {
  margin: 0 auto;
  color: #426C79;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion__item {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  /*margin-bottom: 10px;*/
}


.accordion__item-title {
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  max-width: 660px;
  border: 1px solid #77A7B5;
  box-shadow: 0.2em 0.2em #426C79;
  text-align: center;
  margin-bottom: 20px;
  transition: all 100ms linear;
  background: url('../assets/img/icons8-сложение-30.png') 98% center/0.8em 0.8em no-repeat;
}

.accordion__item-title:active {
  box-shadow: none;
  transform: translate(0.2em, 0.2em);
}

.accordion__radio {
  visibility: hidden;
  height: 0;
  width: 0;
}

.accordion__radio:checked+.accordion__image-wrapper {
  width: 0;
  height: 0;
}

#accordion__radio-1:checked+.label-first {
  /*border: 1px solid black;*/
  width: 100%;
  height: var(--img_h);
}

h2+#accordion__radio-3:checked {
  color: var(--color_checked);
}

#accordion__radio-2:checked+.label-second {
  /*border: 1px solid black;*/
  width: 100%;
  height: var(--img_h);
}

#accordion__radio-3:checked+.label-third {
  /*border: 1px solid black;*/
  width: 100%;
  height: var(--img_h);
}

#accordion__radio-4:checked+.label-fourth {
  /*border: 1px solid black;*/
  width: 100%;
  height: var(--img_h);
}

#accordion__radio-5:checked+.label-fifth {
  /*border: 1px solid black;*/
  width: 100%;
  height: var(--img_h);
}


.accordion__image-wrapper {
  /*width: 100%;
  height: 50vh;*/
  width: 0;
  height: 0vh;
  overflow: hidden;
  padding: 10px 0 0 0;
  margin-top: -20px;
  transition: height 300ms linear;
}

.accordion__item-title:focus {
  color: var(--color_selected);
  background: url('../assets/svg/icons8-удалить-30.svg') 98% center/0.8em 0.8em no-repeat;
}

.accordion__image-wrapper:hover,
.accordion__item-title:focus~.accordion__image-wrapper {
  width: 100%;
  height: var(--img_h);
}


.label-first {
  background: url('../assets/img/mem_1.png') center/contain no-repeat content-box;
}

.label-second {
  background: url('../assets/img/mem_2.png') center/contain no-repeat content-box;
}

.label-third {
  background: url('../assets/img/mem_3.png') center/contain no-repeat content-box;
}

.label-fourth {
  background: url('../assets/img/mem_4.png') center/contain no-repeat content-box;
}

.label-fifth {
  background: url('../assets/img/mem_5.png') center/contain no-repeat content-box;
}

.accordion__image {
  width: 130%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  margin: 0 -15%;
}

.footer {
  background-color: #77A7B5;
  height: 100%;
  border-top: 0.5em dashed #426C79;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container>* {
  width: 30%;
  max-width: 33%;
  padding: 1em;
  height: 9vh;
  text-align: center;
}

.footer__logo {
  background: url('../assets/img/rsschool_logo.png') right center/contain no-repeat content-box;
}

.footer__link-wrapper {
  padding: 0;
}

.footer__link {
  display: block;
  text-decoration: none;
  text-align: left;
  color: black;
  width: 100%;
  height: 100%;
  padding: 1em;

}

.footer__year,
.footer__link {
  font-size: 2em;
  line-height: 120%;
}

@media screen and (min-width: 1280px) {
  body {
    --img_h: 35vh;
  }



}

@media (hover: hover) {
  .accordion__item-title:hover {
    cursor: pointer;
    color: var(--color_selected);
  }
}